@import "../../../../.cache/wal/colors.scss";

* {
    font-family: FiraCode , Noto Sans,FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-expand,
#custom-cycle_wall,
#custom-ss,
#custom-dynamic_pill,
#mpd {
    padding: 0 10px;
    border-radius: 15px;
    background: $background;
    color: $foreground;
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

window#waybar {
    background-color: transparent;
}

#custom-dynamic_pill label {
    color: $color1;
    font-weight: bold;
}

#custom-dynamic_pill.paused label {
    color: 	$color6 ;
    font-weight: bolder; 
}

#workspaces button label{
    color: $foreground ;
    font-weight: bolder;
}

#workspaces button.active label{
    color: $background;
    font-weight: bolder;
}

#workspaces{
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 25px;
}
#workspaces button{
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
    background-color: $background ;
    border-radius: 15px;
    margin-right: 10px;
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-weight: bolder;
    color: 	$foreground ;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
}

#workspaces button.active{
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.288) 2 2 5 2px;
    padding-left: 20px;
    padding-bottom: 3px;
    background: rgb(203,166,247);
    background: radial-gradient(circle, $color4 0%, $color3 12%, $color2 19%, $color5 20%, $color6 24%, $color7 36%, $color8 37%, $color9 48%, $color10 52%, $color11 52%, $color12 59%, $color13 66%, $color14 67%, $color15 68%, $color5 77%, $color1 78%, $color2 82%, $color3 83%, $color5 90%, $color4 100%); 
    background-size: 400% 400%;
    animation: gradient_f 20s ease-in-out infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 30%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient_f {
	0% {
		background-position: 0% 200%;
	}
    50% {
        background-position: 200% 0%;
    }
	100% {
		background-position: 400% 200%;
	}
}

@keyframes gradient_f_nh {
	0% {
		background-position: 0% 200%;
	}
	100% {
		background-position: 200% 200%;
	}
}



#custom-dynamic_pill.low{
    background: $background;
    background: linear-gradient(52deg, $color13 0%, $color4 19%, $color1 43%, $color4 56%, $color3 80%, $color9 100%); 
    background-size: 300% 300%;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    animation: gradient 15s ease infinite;
    font-weight: bolder;
    color: $foreground;
}
#custom-dynamic_pill.normal{
    background: rgb(148,226,213);
    background: radial-gradient(circle, $color13 0%, rgba(156,227,191,1) 21%, $color2 34%, rgba(158,227,186,1) 35%, rgba(163,227,169,1) 59%, $color13 74%, rgba(164,227,167,1) 74%, rgba(166,227,161,1) 100%); 
    background-size: 400% 400%;
    animation: gradient_f 4s ease infinite;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    font-weight: bolder;
    color: #fff;
}
#custom-dynamic_pill.critical{
    background: rgb(235,160,172);
    background: linear-gradient(52deg, rgba(235,160,172,1) 0%, rgba(243,139,168,1) 30%, rgba(231,130,132,1) 48%, rgba(250,179,135,1) 77%, $color2 100%); 
    background-size: 300% 300%;
    animation: gradient 15s cubic-bezier(.55,-0.68,.48,1.68) infinite;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    font-weight: bolder;
    color: #fff;
}

#custom-dynamic_pill.playing{
    background: rgb(137,180,250);
    background: radial-gradient(circle, rgba(137,180,250,120) 0%, rgba(142,179,250,120) 6%, $color13 14%, rgba(147,178,250,1) 14%, rgba(155,176,249,1) 18%, rgba(245,194,231,1) 28%, rgba(158,175,249,1) 28%, rgba(181,170,248,1) 58%, $color5 69%, rgba(186,169,248,1) 69%, rgba(195,167,247,1) 72%, $color4 73%, rgba(198,167,247,1) 78%, $color4 100%); 
    background-size: 400% 400%;
    animation: gradient_f 9s cubic-bezier(.72,.39,.21,1) infinite;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    font-weight: bold;
    color: #fff ;
}

#custom-dynamic_pill.paused{
    background: $background ;
    font-weight: bolder;
    color: $foreground ;
}

#custom-ss{
    background: $background;
    color: $color2;
    font-weight:  bolder;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}


#custom-cycle_wall{
    background: rgb(245,194,231);
    background: linear-gradient(45deg, rgba(245,194,231,1) 0%, $color4 0%, rgba(243,139,168,1) 13%, rgba(235,160,172,1) 26%, rgba(250,179,135,1) 34%, $color2 49%, rgba(166,227,161,1) 65%, $color13 77%, $color4 82%, rgba(116,199,236,1) 88%, $color4 95%); 
    color: #fff;
    background-size: 500% 500%;
    animation: gradient 7s linear infinite;
    font-weight:  bolder;
    border-radius: 15px;
}

#clock label{
    color: $foreground;
    font-weight:  bolder;
}

#clock {
    background: $background;
    // background: linear-gradient(118deg, $color5 5%, $color6 5%, $color7 20%, $color5 20%, $color5 40%, $color8 40%, $color10 60%, $color5 60%, $color5 80%, $color6 80%, $color12 95%, $color5 95%); 
    // background-size: 200% 300%;
    // animation: gradient_f_nh 30s linear infinite;
    // background: linear-gradient(77deg, $color1 0%, $color9 12%, $color9 15%, $color10 24%, $color2 32%, $color4 37%, $color6 48%, $color5 59%, $color5 61%, $color6 52%, $color4 63%, $color2 68%, $color10 76%, $color9 85% , $color9 88%, $color1 100%); 
    background: radial-gradient(circle, $color1 0%, $color2 12%, $color3 19%, $color5 20%, $color8 24%, $color9 36%, $color8 37%, $color9 48%, $color10 52%, $color11 52%, $color12 59%, $color13 66%, $color14 67%, $color15 68%, $color5 77%, $color1 78%, $color2 82%, $color3 83%, $color2 90%, $color1 100%); 
    background-size: 500% 500%;
    animation: gradient_f 20s ease-in-out infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);

    margin-right: 25px;
    color: $foreground ;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    
    font-size: 15px;
    padding-top: 5px;
    padding-right: 21px;
    font-weight: bolder;
    padding-left: 20px;
}

#battery.charging, #battery.plugged {
    background-color: $foreground ;
    color: $background;
}

#battery {
    background-color: $background;
    color: $foreground;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

@keyframes blink {
    to {
        background-color: $color9;
        color:$color10;
    }
}



#battery.critical:not(.charging) {
    background-color:  #f38ba8;
    color:#bf5673;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu label{
    color: $foreground;
}

#cpu {
    background: $background;
    // background: radial-gradient(circle, $color2 30%, $color8 50%, $color10 100%); 
    color: 	$color6;
}

#memory {
    background-color: $background ; // #cba6f7;
    color: $foreground ;// #9a75c7;
    font-weight: bolder;
}

#disk {
    background-color: $foreground;
    color: $background;
}

#backlight {
    background-color: $background;
    color: $foreground;
}

#network{
    background-color: $foreground;
    color:$background;
}

#network.disabled{
    background-color: $background;
    color: $color10;
}

#network.disconnected{
    background: $color10;
    background: linear-gradient(45deg, $color2 0%, $color8 100%); 
    color: $color9;
    font-weight: bolder;
    padding-top: 3px;
    padding-right: 11px;
}

#network.linked, #network.wifi{
    background-color: $color15 ;
}

#network.ethernet{
    background-color:$color14 ;
}

#pulseaudio {
    background-color:  	$background;
    color: $foreground;
    font-weight: bolder;
}

#pulseaudio.muted {
    background-color: $color8;
    color: $foreground;
}

#custom-media {
    color: #66cc99;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f9e2af;
    color:#96804e;
}

#temperature.critical {
    background-color: #f38ba8 ;
    color:#bf5673;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

